
.projectsBlock{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    z-index: auto;
    width: 20%;
    height: 20%;
    min-height: 60px;
    position: static;
    cursor: default;
    opacity: 0.75;
    margin: 30px;
    padding: 15px;
    padding-right: 20px;
    overflow: hidden;
    border: 2px solid;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font: normal 13px/1 Calibri Serif;
    color: rgba(29,56,135,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgb(65, 152, 255) 0, rgba(234,242,220,1) 100%);
    background: -moz-linear-gradient(180deg, rgb(112, 231, 255) 0, rgba(234,242,220,1) 100%);
    background: linear-gradient(180deg, rgb(146, 255, 255) 0, rgba(234,242,220,1) 100%);
    background-repeat: repeat-x;
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 0 0 9px rgba(155,154,226,1) ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}


.strategiesBlock{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    z-index: auto;
    width: 20%;
    height: 20%;
    min-height: 60px;
    position: static;
    cursor: default;
    opacity: 0.75;
    margin: 30px;
    padding: 15px;
    padding-right: 20px;
    overflow: hidden;
    border: 2px solid;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font: normal 13px/1 Calibri Serif;
    color: rgba(29,56,135,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgb(65, 152, 255) 0, rgba(234,242,220,1) 100%);
    background: -moz-linear-gradient(180deg, rgb(112, 231, 255) 0, rgba(234,242,220,1) 100%);
    background: linear-gradient(180deg, rgb(146, 255, 255) 0, rgba(234,242,220,1) 100%);
    background-repeat: repeat-x;
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 0 0 9px rgba(155,154,226,1) ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

