<div class="container">

  <h1>Creation of your marketing move</h1>
  <p class="lead">Lets create your marketing move. First of all, you need to fill in the information about.
      Then you need to choose a strategy or create your own. After all it will be sent to our administrator
  to be confirmed or refused. Please be patient.</p>


    <script src="mm-creation.component.ts"></script><br>
    <form (submit)="onMMCreation()">
        <div class="form-group">
            <label>Name of the project</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>What goal do you want to achieve?</label>
            <input type="text" [(ngModel)]="goal" name="goal" class="form-control">
        </div>
        <div class="form-group">
            <label>Desription</label>
            <input type="text" [(ngModel)]="description" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label>What is the approximate duration of the project (days)?</label>
            <input type="text" [(ngModel)]="duration" name="duration" class="form-control">
        </div>
            <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>

