.paramBlock{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: auto;
    width: 35%;
    height:100%;
    min-height: 30px;
    position: static;
    cursor: default;
    opacity: 0.78;
    margin: 5px;
    padding-top:10px;
    padding-left: 10px;
    overflow: hidden;
    border: 1px solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 12px/1 Calibri, serif;
    color: rgba(29,56,135,1);
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgb(127, 255, 67) 0, rgba(234,242,220,1) 100%);
    background: -moz-linear-gradient(180deg, rgb(135, 255, 93) 0, rgba(234,242,220,1) 100%);
    background: linear-gradient(180deg, rgb(223, 255, 255) 0, rgba(234,242,220,1) 100%);
    background-repeat: repeat-x;
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 0 0 9px rgba(155,154,226,1) ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.projectContent{
    width:30%;
    height:100%;
    float:left;
    padding-left:0%;
}

/*.selectWrapper {*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*border: 1px solid #bbb;*/
    /*border-radius: 2px;*/
    /*background:#FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;*/
/*}*/

/*.selectWrapper select {*/
    /*padding: 12px 40px 12px 20px;*/
    /*font-size: 18px;*/
    /*line-height: 30px;*/
    /*width: 100%;*/
    /*border: none;*/
    /*box-shadow: none;*/
    /*background: transparent;*/
    /*background-image: none;*/
    /*-webkit-appearance: none;*/
    /*outline: none;*/
    /*cursor: pointer;*/
    /*-moz-appearance: none;*/
    /*text-indent: 0.01px;*/
    /*text-overflow: ellipsis;*/
/*}*/

/*.wrapperBlock{*/
/*}*/
.firstBlock{

    margin:0 0 0 0;
}
.secondBlock{
    position: absolute;
    margin:0 0 0 0;
    display: none;
}

.thirdBlock{
    position: absolute;
    margin:0 0 0 0;
    display: none;
}

.fourthBlock{
    position: absolute;
    margin:0 0 0 0;
    display: none;
}


/* Form Style */
.form-horizontal{
    background: #fff;
    padding-bottom: 40px;
    border-radius: 15px;
    text-align: center;
}
.form-horizontal .heading{
    display: block;
    font-size: 35px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}
.form-horizontal .form-group{
    padding: 0 40px;
    margin: 0 0 25px 0;
    position: relative;
}
.form-horizontal .form-control{
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
    background: #e0e0e0;
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group i{
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
    color: #00b4ef;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
    color: #000;
}
.form-horizontal .main-checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #11a3fc;
    border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #11a3fc;
}
.form-horizontal .main-checkbox label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
    visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
}
.form-horizontal .text{
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    float: right;
    font-size: 14px;
    color: #fff;
    background: #00b4ef;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
@media only screen and (max-width: 479px){
    .form-horizontal .form-group{
        padding: 0 25px;
    }
    .form-horizontal .form-group i{
        left: 45px;
    }
    .form-horizontal .btn{
        padding: 10px 20px;
    }
}


#center-but {
    display: block;
    margin: 0 auto;
}
