<main role="main">
        <div class="row">
        <img src="../../../assets/images/logo.jpg" style="width:50%;"  class="center-img" >
        </div>

    <div class="container marketing">


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">For whom is our site created?</h2>
                <p class="lead">Our website is a platform for owners of shops or commodity enterprises which want to
                    increase the amount of income or quantity of customers by means of applying new marketing
                    strategies. Our program allows you to choose the best approach among all that you keep in mind by
                    dint of implementation each of them and comparing of results. </p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/marketing.png"
                     alt="Generic placeholder image" width="300" height="300">
            </div>
        </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Why should you choose us among all of analogous?</h2>
                <p class="lead">We understand that even a small change in income in other way is a 'big money' for the
                    large corporation. That is why we provide a possibility to manage your strategies in real-time
                    wherever you are. In every moment you can pause the performing of your project and apply a new one.
                    Also, we provide a large variety of strategy settings with custom parameters. .</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../../../assets/images/money.png"
                     alt="Generic placeholder image" width="450" height="300">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">What do you get? </h2>
                <p class="lead">By mean of using our platform, you will get two important things: you will increase your
                    money for a short time and you will save time during this process in contrast to manual control.</p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/time.jpg"
                     alt="Generic placeholder image" width="450" height="300">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p> 2017 Serhii Pyrozhenko, Nure.</p>
    </footer>

</main>
